ApiKeyAuth:
  type: apiKey
  in: header
  name: x-api-key
  description: >
    API key provided by Spakinect for EMR integration. This key must be
    associated with at least one location that the EMR system has access to.
